h1 {
    font-size: 45px;
    color: white;
    line-height: 1.15;
}

h2 {
    font-size: 33px;
    color: rgb(95, 89, 89);
}

p {
    font-size: 18px;
    color: white;
}

img {
    border-radius: 10px;
}

.length1 {
    width: 500px;
    text-align: justify;
}

.a-modify>a {
    font-size: 18px;
    color: goldenrod;
    text-decoration: none;
    position: relative;
    top: 20px;
}

a:hover {
    font-size: 20px;
    transition-duration: 200ms;
}

a:not(:hover) {
    transition-duration: 200ms;
}

.about,
.nyp-projects {
    padding: 40px 0 40px 0;
    background-color: #202020;
}

.middle-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-middle-container {
    text-align: center;
}

.outer-container {
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-left,
.inner-right {
    width: 500px;
}

.inner-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-right {
    position: relative;
    left: 20px;
    overflow-x: visible;
}

.move1 {
    bottom: 20px;
}

.move2 {
    bottom: 15px;
}

.move3 {
    bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .outer-container {
        flex-direction: column;
        align-items: center;
        width: 450px;
    }

    .inner-left,
    .inner-right {
        width: 450px;
    }

    .inner-right {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .move1,
    .move2,
    .move3 {
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 450px) {

    .outer-container,
    .inner-left,
    .inner-right {
        width: 90%;
    }

    .prog-img {
        width: 100%;
    }

    .bi-img {
        width: 100%;
    }

    .ux-img {
        width: 50%;
    }
}