section {
    width: 100%;
}

video {
    border-radius: 10px;
}

.sub-banner {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color1 {
    background-color: orange;
}

.color2 {
    margin-top: 30px;
    background-color: #E30B5C;
}

.sub-banner h1 {
    letter-spacing: 3px;
    font-size: 60px;
    color: black;
}

.format-middle {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0;
}

.middle-section {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right,
.middle {
    width: 700px;
    height: auto;
}

.right h2,
.middle h2 {
    font-size: 40px;
    color: black;
    text-align: left;
}

.right p,
.middle p {
    font-size: 20px;
    color: black;
    text-align: justify;
}

li {
    list-style-position: inside;
    position: relative;
    left: 40px;
}

a {
    word-wrap: break-word;
}

.with-image {
    padding: 50px;
}

@media screen and (max-width: 1300px) {
    .middle-section {
        flex-direction: column;
        width: 700px;
    }

    .with-image {
        padding: 0;
    }

    .right {
        margin-top: 20px;
    }
}

@media screen and (max-width: 700px) {
    .middle-section {
        flex-direction: column;
        align-items: center;
    }

    .sub-banner h1 {
        letter-spacing: 1.5px;
        font-size: 60px;
        color: black;
    }

    li {
        left: 20px;
    }

    .middle {
        width: 90%;
    }

    .left,
    .right {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .sub-banner h1 {
        font-size: 55px;
    }
}